* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  background-color: #eee;
  color: #344563;
}

.logo {
  color: #6070ff;
}

.nav-link { color: #344563; }

.btn-template-light {
  color: #6070ff;
  background-color: transparent;
}

.btn-template-bold {
  background-color: #6070ff;
  color: #fff;
}
